h1 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 35px;
    color: #4689b5;
}

body {
    overflow-x: hidden;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "section"
    "article"
    "aside"
    "footer";
}

header {
    grid-area: header;
}

h2 {
    text-align: center;
}

section {
    grid-area: section;
    text-align: center;
    background-color: lightgrey;
}

article {
    grid-area: article;
}

aside {
    grid-area: aside;
    background-color: lavender;
}

footer {
    grid-area: footer;
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
}

#search {
    float:right;
}

/*Mobile view*/
@media screen and (max-width: 450px) {
    body{
        display: grid;
        overflow-x:hidden;
        grid-template-rows: auto; 
        grid-template-areas: 
            "header"
            "section"
            "article"
            "aside"
            "footer";
    }
} 

/*Tablet view*/
@media screen and (min-width:450px) and (max-width: 800px) {
    section{
        text-align: left;
    }
     body{
        display: grid;
        overflow-x:hidden;
        grid-template-rows: auto; 
        grid-template-areas: 
            "header"
            "section"
            "article"
            "aside"
            "footer";
    }
}