/* section {
    border: 1px solid;
} */

h1 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 35px;
    color: #4689b5;
}


/*Mobile view*/
@media screen and (max-width: 450px) {
    
} 

/*Tablet view*/
@media screen and (min-width:450px) and (max-width: 800px) {
    
}