body {
    display: grid;
    overflow-x: hidden;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "main"
        "section"   
        "footer";
}
ul#menu li {
    display:inline;
    padding: 50px;
}
footer{
    grid-area: footer;
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
}
header{
    grid-area: header;
    background-color: #edce1d;
}
h1{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 35px;
    color: #4689b5;
}
section{
    grid-area: section;
    background-color: lightgrey;
}
main{
    grid-area: main;
    text-align: center;
}
#search {
    float:right;
}
       

/*Mobile view*/
@media screen and (max-width: 450px) {
    h1{
        font-size: 25px;
    }
    main{
        text-align: left;
    }
    body{
        display: grid;
        overflow-x:hidden;
        grid-template-rows: auto; 
        grid-template-areas: 
            "header"
            "main"
            "section"
            "footer";
    }
} 

/*Tablet view*/
@media screen and (min-width:450px) and (max-width: 800px) {
     body{
        display: grid;
        overflow-x:hidden;
        grid-template-rows: auto; 
        grid-template-areas: 
            "header"
            "main"
            "section"
            "footer";
    }
}