        ul#menu li {
            display:inline;
            padding: 50px;
        }
        footer{
            grid-area: footer;
            background-color: black;
            color: white;
        }
        header{
            grid-area: header;
            background-color: #edce1d;
        }
        h1{
            font-family: 'Lato', sans-serif;
            font-style: italic;
            font-size: 35px;
            color: #4689b5;
        }
        section{
            grid-area: section;
            text-align: center;
            background-color: lightgrey;
        }
        #button{
            float: right;
        }
        main{
            grid-area: main;
            text-align: center;
        }
        body{
        overflow-x: hidden;
        display: grid;
        grid-template-rows: auto;
        grid-template-areas: 
        "header"
        "main"
        "section"   
        "footer";
        }

/*Mobile view*/
@media screen and (max-width: 450px) {
    h1{
        font-size: 25px;
    }
    .float-right{
        display:none;
    }
     ul#menu li {
         display: inline-block;
         padding: 30px;
    }
    footer.foot{
        font-size:5vw;
    }
    body{
        display: grid;
        overflow-x:hidden;
        grid-template-rows: auto; 
        grid-template-areas: 
            "header"
            "main"
            "section"
            "footer";
    }
} 

/*Tablet view*/
@media screen and (min-width:450px) and (max-width: 800px) {
    ul#menu li {
         padding: 30px;
    }
     body{
        display: grid;
        overflow-x:hidden;
        grid-template-rows: auto; 
        grid-template-areas: 
            "header"
            "main"
            "section"
            "footer";
    }
}