/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

#search {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  float:right;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

h1{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 35px;
    color: #4689b5;
}


/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}




main {
    overflow-x: hidden;
    display: grid;
    grid-template-areas:
        "section"
        "footer";
}

section {
    grid-area: section;
}

footer {
    position: relative;
    background-color: black;
    color: white;
    left: 0;
    right: 0;
    bottom: 0;
    grid-area: footer;
    border: 1px solid;
    z-index: 1;
}



/* Responsive columns */
/*
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
*/
/* Style the buttons */
.button {
  float:right;
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.button:hover {
  background-color: #ddd;
}

.button.active {
  background-color: #666;
  color: white;
}

.fb-share-button{
    float: right;
}
.twitter-hashtag-button{
    float: right;
}