.container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
/*  grid-template-rows: repeat(auto-fill, 120px);*/
    grid-template-rows: auto;
  grid-row-gap: 30px;
  grid-column-gap: 1;
}


/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

#search {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  float:right;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/

.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

h1{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 35px;
    color: #4689b5;
}

footer {
    position: relative;
    background-color: black;
    color: white;
    left: 0;
    right: 0;
    bottom: 0;
    grid-area: footer;
    border: 1px solid;
    z-index: 1;
}

.fb-share-button{
    float: right;
}
.twitter-hashtag-button{
    float: right;
}