body {
    overflow: hidden;
}

body::before {
    background: url("./images/fav1.png") no-repeat center center fixed;
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    position:absolute; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

/*Mobile view*/
@media screen and (max-width: 450px) {
    h1{
        font-size: 25px;
    }
} 

/*Tablet view*/
@media screen and (min-width:450px) and (max-width: 800px) {
    
}