    
    
    #userName{
     text-align: center;
    }
    
    h1{
      font-family: 'Lato', sans-serif;
      font-style: italic;
      font-size: 35px;
      color: #4689b5;
    }

    .artic{
     
      padding-top: 5%;
      padding-left: 30%;
      padding-right: 30%;
      
    }
  
    #img1{
      width: 80%;
      height: 150%;
    }
    
    #butt{
      float:right;
      padding-right: 37%;
    }
    
    #userSaves{
      padding-left: 30%;
      padding-right: 30%;
    }