#userName {
    text-align: center;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 35px;
    color: #4689b5;
}
body {
    font-family: 'Lato', sans-serif;
}
.artic {
    padding-top: 5%;
    padding-left: 30%;
    padding-right: 30%;
}

#img1 {
    width: 80%;
    height: 150%;
}

#butt {
    float:right;
    padding-right: 37%;
}

#userSaves {
padding-left: 30%;
padding-right: 30%;
}

/*Mobile view*/
@media screen and (max-width: 450px) {
    h1{
        font-size: 25px;
    }
    .artic{
        padding-left: 5%;
    }
    #butt {
        padding-right: 0;
    }
} 

/*Tablet view*/
@media screen and (min-width:450px) and (max-width: 800px) {
     .artic{
        padding-left: 5%;
    }
     #butt {
        padding-top: 5%;
    }
}
