#prefPage {
    float:right;
    padding-right: 20%;
}

#userName {
    text-align: center;
}

body {
    background-color: lightgray;
}

.artic {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    background-color:lightgray;
}
h1 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 35px;
    color: #4689b5;
}
#img1 {
    width: 80%;
    height: 150%;
}

#userSaves {
    background-color:azure;
}