.artic {
    align-content: center;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 35px;
    color: #4689b5;
}

#butt {
    float: right;
    padding-right: 37%;
}

h6 {
    color: lightgray;
    font-size: 15px;
}