#prefPage {
    float:right;
    padding-right: 20%;
}

#userName {
    text-align: center;
}

body {
    background-color: lightgray;
    font-family: 'Lato', sans-serif;
}

.artic {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    background-color:lightgray;
}
h1 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 35px;
    color: #4689b5;
}
#img1 {
    width: 80%;
    height: 150%;
}

#userSaves {
    background-color:azure;
}
#messageChats {
    background-color:azure;
}

/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
  }
  
  #search {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }

/*Mobile view*/
@media screen and (max-width: 450px) {
  h1{
    font-size: 25px;
}
} 

/*Tablet view*/
@media screen and (min-width:450px) and (max-width: 800px) {
    
}